body {
	margin: 0;
}

#container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: black;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

video#camera-output {
	background: none;
	width: 100vw;
	height: 100vh;
	aspect-ratio: 16 / 9;
	flex: 1;
}
